.supertop{
	position:fixed;
	width:1900px;
    z-index:1;
    margin-left:-20px;
    opacity: 0.76;

}
	
	
.navi{
	padding-right:20px;
	background-color:#000;
margin-right:-20px;

width:100%;
    }
	 input{
     float:right;
     margin:10px;
   }
.navi:hover{
	color:#000000;
	opacity:1;
	background-color:#000000;

}
	#logout{
		color:white;
		float:right;
		border-left:2px solid white;
	}
.navibottom{
	
	border:none;
	display:inline-block;
	padding:16px 32px;
	padding-top:29px;
	padding-bottom:20px;
		color:white;
	text-decoration:none;	
 
  font-weight:1000;

	}
	
.navibottom:hover{
	color:#000000;
	background-color:#707070;
	
}

a{
	font-size: 23px;
	
}