

<div class="supertop"> 
    <div class="navi" >
            <a routerLink="/home" class="navibottom">Home</a>
      <a *ngIf="AuthService.loggedIn" routerLink="/electronic" class="navibottom">Electronic</a>
    
  

      <a routerLink="/enquiry" class="navibottom">Enquiry</a>
      <a routerLink="/adminlogin" class="navibottom">Login</a>
      <a id="logout" *ngIf="AuthService.loggedIn"  (click)="onLogout();" class="navibottom" >[Logout]</a>
 
     
    </div>
  </div>
  
  
  