#container{
    width:500px;
    height:600px;
    background-color: black;
    opacity: 0.8;
    margin-left:67%;
    margin-top:-46%;
    position: absolute;
    border-radius: 3%;
}

#wholeting{
  
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-top:-20px;
    margin-right:-8px;
}

img{position: relative;}

#enquirylis{
    width:500px;
    height:600px;
    background-color: black;
    opacity: 0.8;
    margin-left:40%;
    margin-top:-46%;
    position: absolute;
    display: none;
    border-radius: 3%;
}

button {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-top:20px
  }
  
  button:hover {
    background-color: #45a049;
  }