h2{
    color:white;
    font-size:17px;
    margin-bottom: -3%;
}

h1{
    margin-bottom: -2%;
    color:lightgray;
    font-size:19px;
}

#everysingle{
    display: block;
    float:left;
    width:20% !important;
     height: 20% !important;
    position: relative;
    padding-bottom: 2%;
}

#block{
    width:100%;
    height: 100%;
}

option{
    font-size:22px !important;
}
h5{
    font-size:22px !important;
}



button {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 2px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top:-3%;
  }

  h3{
      color:white;
      width:30%;
      margin-top:10%;
      margin-left:8%;

}

h4{
    color:white;
    width:20%;
 float:left;
 margin-left:20%;
 font-size: 25px;


}
  input[type=text],select {
    width: 100%;
    padding: 8px 8px;
  
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
   
  }
#divider{
    width: 100%;
    clear:both;
    margin-top:-3%;
    margin-bottom: -3%;

}
  #selectbox{
      float:right;
      width:40%;
      margin-right:10%;
      margin-top:5%;
  }
#search{
    float:right;
    width:50%;
    margin-top:-13%;
}
  .searchbar{
      float:left;
      width:37%;
  }
h5{
    font-size:25px;
}
  #categorychoose{
      float:right;
      width:60%;
  }
  
  button:hover {
    background-color: #45a049;
  }