
<!--<div class="container">

    <div class="col-sm-12">
   
      
          
       
    
          <div *ngFor=" let category of myCategory; let i = index">
    
             {{ category.categoryID}}
             {{ category.categoryname }}
             {{ category.categorydescription}}
            
             
      
     </div>
  
    </div>
 
</div>

-->

<div class="container">
 
    <div class="col-sm-12">
   <div class="searchbar">
       <h3> Search... : </h3> <div id="search"><input type="text" [(ngModel)]="searchStr"></div>
      
      </div>
        <div id="categorychoose">
          <h4> Filter... :</h4>
          <div id="selectbox">
          <select [(ngModel)]="searchStr2">
               
                <option selected value="" >All</option>
              <option placeholder="Category" *ngFor="let category of myCategory"  [value]="category.categoryID">
                <h5>{{ category.categoryname }}</h5>
              </option>
              
            </select>
          </div>
          </div>
       
    <div id="divider"></div>
          <div id="everysingle" *ngFor=" let electronic of myElectronics| category: 'categoryID' : searchStr2 | search: 'name' : searchStr; let i = index" [appHoverHighlight]="{background:'#1a0000',leave:'transparent'}">
            
            <div id="block">
              <h1> {{ categoryService.getCategoryName(electronic.categoryID)}}</h1>
            <h2>- {{ electronic.brand}}</h2>
        
            <h2>- {{ electronic.name| uppercase}}</h2>
             
           
             <br><button class="view-movie-details" (click)="viewdetails(electronic.productID);">Details</button>
             <br><button class="view-movie-details" (click)="onDelete(electronic.productID);">Delete</button>
            </div>
     </div>
  
    </div>
 
</div>
