
<div class="container">
  <div class="row">
    <form class="col-sm-12" [formGroup]="ElectronicForm" (ngSubmit)="onSubmit()">

      <div class="form-group row" id="hidethis" >
        <label for="inputProductID" class="col-sm-3 form-control-label">ProductID</label>
       
        <div class="col-sm-9">
          <input type="number" class="form-control" id="inputProductID"  #inputProductID>
         
        </div>
      </div>

      <div class="form-group row">
        <label for="inputName" class="col-sm-3 form-control-label">Name</label>
        <span id="red"
        *ngIf="!ElectronicForm.get('inputName').valid && ElectronicForm.get('inputName').touched"
        class="help-block">
        <span *ngIf="ElectronicForm.get('inputName').errors['required']">
          <h3>This field is required!</h3>
        </span>
        <span *ngIf="!ElectronicForm.get('inputName').errors['required'] 
        && ElectronicForm.get('inputName').errors['blankSpaces']">
      <h3 id="empty"> Empty spaces are not accepted.</h3>
        </span>
    </span>   
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputName" [formControlName]="'inputName'" #inputName>
     
     
        </div>
      </div>

      <div class="form-group row">
        <label for="inputDescription" class="col-sm-3 form-control-label">Description</label>
        <span id="red"
        *ngIf="!ElectronicForm.get('inputDescription').valid && ElectronicForm.get('inputDescription').touched"
        class="help-block">
        <span *ngIf="ElectronicForm.get('inputDescription').errors['required']">
          <h3>This field is required!</h3>
        </span>
        <span *ngIf="!ElectronicForm.get('inputDescription').errors['required'] 
        && ElectronicForm.get('inputDescription').errors['blankSpaces']">
      <h3 id="empty"> Empty spaces are not accepted.</h3>
        </span>
    </span>  
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputDescription" [formControlName]="'inputDescription'" #inputDescription>
      
        </div>
      </div>

      <div class="form-group row">
            <label for="inputBrand" class="col-sm-3 form-control-label">Brand</label>
            <span id="red"
            *ngIf="!ElectronicForm.get('inputBrand').valid && ElectronicForm.get('inputBrand').touched"
            class="help-block">
            <span *ngIf="ElectronicForm.get('inputBrand').errors['required']">
              <h3>This field is required!</h3>
            </span>
            <span *ngIf="!ElectronicForm.get('inputBrand').errors['required'] 
            && ElectronicForm.get('inputBrand').errors['blankSpaces']">
          <h3 id="empty"> Empty spaces are not accepted.</h3>
            </span>
        </span>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputBrand" [formControlName]="'inputBrand'" #inputBrand>
           
            </div>
          </div>

          <div class="form-group row">
                <label for="inputPrice" class="col-sm-3 form-control-label">Price</label>
                <span id="red"
                  *ngIf="!ElectronicForm.get('inputPrice').valid && ElectronicForm.get('inputPrice').touched"
                  class="help-block">
                  <span *ngIf="ElectronicForm.get('inputPrice').errors['required']">
                    <h3>This field is required!</h3>
                  </span>
                  <span *ngIf="!ElectronicForm.get('inputPrice').errors['required'] 
                  && ElectronicForm.get('inputPrice').errors['blankSpaces']">
                <h3 id="empty"> Empty spaces are not accepted.</h3>
                  </span>
              </span>  
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="inputPrice" [formControlName]="'inputPrice'" #inputPrice>
                  
                </div>
              </div>

              <div class="form-group row">
                    <label for="inputCategoryID" class="col-sm-3 form-control-label">Category</label> 
                    
                    <div class="col-sm-9">
                  <!--    <input type="number" class="form-control" id="inputCategoryID"  #inputCategoryID>-->
                      <select id="Categorysss"  id="inputCategoryID" #inputCategoryID >
                        <option value="1">Laptop</option>
                        <option value="2">Phones</option>
                        <option value="3">Earphones</option>
                   
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                        <label for="inputImageURL" class="col-sm-3 form-control-label">ImageURL</label>  <span id="red"
                        *ngIf="!ElectronicForm.get('inputImageURL').valid && ElectronicForm.get('inputImageURL').touched"
                        class="help-block">
                        <span *ngIf="ElectronicForm.get('inputImageURL').errors['required']">
                          <h3>This field is required!</h3>
                        </span>
                        <span *ngIf="!ElectronicForm.get('inputImageURL').errors['required'] 
                        && ElectronicForm.get('inputImageURL').errors['blankSpaces']">
                      <h3 id="empty"> Empty spaces are not accepted.</h3>
                        </span>
                    </span> 
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputImageURL" [formControlName]="'inputImageURL'" #inputImageURL>
                         
                        </div>
                      </div>
          

      <button type="Add" class="btn btn-success" (click)="onAddElectronic(inputProductID,inputName,inputDescription,inputBrand,inputName,inputCategoryID,inputImageURL);">Submit</button>
                    </form>
  </div>
</div>
