<div id="wholeting">
    <img src="/assets/img/ElectronicBack.jpg" alt="Smiley face" height="100%" width="100%">
<div class="container">

    <div class="detail">
   <!--
      <div id="wordpart">
       
       <h1>Electronic Details</h1>
    
          <h1> ProductID: {{chosenproduct.productID}} </h1> 
          <h1>  {{chosenproduct.brand}} {{chosenproduct.name}} </h1>
          <h1> Description: {{chosenproduct.description}} </h1>
          <h1> Price: {{chosenproduct.price}} </h1>
          <h2> CategoryID: {{chosenproduct.categoryID}} </h2>
          <br>
          <a routerLink="/electronic" class="navibottom">Go Back</a>
        </div>

        <div id="imgpart" >
            <img id="detailimg" src="{{chosenproduct.imageURL}}" alt="Smiley face"> 
        </div>

-->

<div  *ngIf="showEditForm">
    <div id="editng">
        <hr>
        <h2>Edit Electronic:</h2>
        <div class="form-group row">
            <label for="inputname" id="editword">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputname" #inputname [value]="selectedElectronic.name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputdescription" id="editword">Description</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputdescription" #inputdescription [value]="selectedElectronic.description">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputbrand" id="editword">Brand</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputbrand" #inputbrand
                    [value]="selectedElectronic.brand">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputprice" id="editword">Price</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputprice" #inputprice
                    [value]="selectedElectronic.price">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCategoryID" id="editword">Category</label> 
            
            <div class="col-sm-9">
          <!--    <input type="number" class="form-control" id="inputCategoryID"  #inputCategoryID>-->
              <select id="Categorysss"  id="inputCategoryID" #inputcategoryID >
                <option value="1">Laptop</option>
                <option value="2">Phones</option>
                <option value="3">Earphones</option>
           
              </select>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputimageURL" id="editword">ImageURL</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputimageURL" #inputimageURL
                    [value]="selectedElectronic.imageURL">
            </div>
        </div>
       
        <button (click)="onUpdate(inputname.value, inputdescription.value, inputbrand.value, inputprice.value, inputcategoryID.value, inputimageURL.value)" class="btn btn-success">Update</button>
        &nbsp;
        <button (click)="toggleShowEditForm();" class="btn btn-warning">Cancel</button>
    </div>
</div>
<div id="wordpart">
       
    <h1>Electronic Details</h1>
   <!-- <div class="row" *ngIf="!showEditForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ selectedElectronic.name }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ selectedElectronic.description }}</h6>
                    <p class="card-text">
                        {{ selectedElectronic.brand }}
                    </p>
                    <p class="card-text">
                      {{ selectedElectronic.price }}
                  </p>
                  <p class="card-text">
                    {{ selectedElectronic.categoryID }}
                </p>
                <p class="card-text">
                  {{ selectedElectronic.imageURL }}
              </p>
                   
                    &nbsp;
                    <button (click)="toggleShowEditForm();" class="btn btn-warning">Edit</button>
                </div>
            </div>
        </div>
    </div>-->
   

   
       <h1> ProductID: {{selectedElectronic.productID}} </h1> 
       <h1>  {{selectedElectronic.brand}} {{selectedElectronic.name}} </h1>
       <h1> Description: {{selectedElectronic.description}} </h1>
       <h1> Price: {{selectedElectronic.price}} </h1>
       <h2> CategoryID: {{selectedElectronic.categoryID}} </h2>
       <a id="a2" (click)="toggleShowEditForm();" class="btn btn-warning">Edit</a>
       <a routerLink="/electronic" class="navibottom">Go Back</a>
     </div>

     <div id="imgpart" >
         <img id="detailimg" src="{{selectedElectronic.imageURL}}" alt="Smiley face"> 
     </div>

      
    
  
    </div>
 
</div>
</div>
