p{padding-top:10%}

#wholeting{
    
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-top:-20px;
    margin-right:-8px;
}
.container{
    width:70%;
    height:82%;
    border-radius: 15px;
 
    margin-left:17%;
    margin-top:-50%;
    position: absolute;
       background-color: black;
    opacity: 0.7;
}
h1{
    color:white;
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-bottom: 12px;
}

h2{
    color:white;
    font-size: 28px;
}
a {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-top:20px;
    text-decoration: none;
   margin-top:5%;
   
  }
  
  a:hover {
    background-color: #45a049;
  }

  #a2{
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-top:20px;
    text-decoration: none;
    margin-right:10%;
   
  }
  
  #a2:hover {
    background-color: #45a049;
  }
.detail{
    width:100%;

}

#wordpart{
    width:45%;
    float:left;
    margin-left:5%;
    margin-top:2%;

}


#imgpart{
    width:45%;
    float:right;
    
}

#detailimg{
    height:80% ;
    width:80%;
    margin-top:10%;
    margin-right:2%;
    opacity: 1;
}

select{
  width: 50%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top:8px !important;
    
  
 
}
option{
  font-size:22px !important;
}

#editng{
    position: absolute;
    width:100%;
    height:120%;
    background-color: black;
    color:white;
}


   
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  }
  
  button {
    width: 17%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-top:20px
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #editword{
      font-size:25px;
      padding-bottom: 12px;
  }