input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  span.help-block {
      color: red;
  }

  .container{
      margin-top:8%;
  }
h1{
    font-size: 30px;
    color:green;
    margin-bottom: 8%;
    margin-top: -5%;
}
  h2{
      color:white;
      float:left;
      clear:both;
      margin-left: 24px;
  }

  #empty{
      padding-left:70px;
  }
  #email{
      margin-left:-30px;
  }
  h3{
      font-size: 15px;
      clear:both;
      margin-bottom: -15px;
      margin-left: 25px;
  }
  #hidethis{
      display:none;
  }
  input{
      margin-top:22px !important;
      float: right;
      margin-right:20px !important;
  }
   
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   margin-bottom: 4%;
  }
  
  button[type=Add] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-top:20px
  }
  
  button[type=Add]:hover {
    background-color: #45a049;
  }
  
.wholeform{
    margin-top:-8%;
}

#hidethis{
    display:none;
}