
<div id="wholeting">
    <img src="/assets/img/ElectronicBack.jpg" alt="Smiley face" height="100%" width="100%">
<div class="container">
<div id="electrolist"  appHoverHighlightgreen>
<app-electronic-list [myElectronics]="electronicList" [myCategory]="categoryList"></app-electronic-list>
</div>
    <div id="addelectro"  appHoverHighlightgreen>
<button (click)="showadd()">Add Electronic</button>
<app-electronic-add (electronicListUpdated)="onelectronicListUpdated($event)" id="addelectronic"></app-electronic-add>
</div>
</div>
</div>