button {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top:20px
  }
  
  button:hover {
    background-color: #45a049;
  }

#addelectronic{
    display: none;
}

#wholeting{
    
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-top:-20px;
    margin-right:-8px;
}
.container{
    width:70%;
    height:82%;
 
    margin-left:17%;
    margin-top:-50%;
    position: absolute;
}

#electrolist{
    width:70%;
    float:left;
    background-color: black;
    opacity: 0.8;
    height:100%;
    border-radius: 3%;

}
#addelectro{
    width:28%;
    height:100%;
    float:right;
    background-color: black;
    opacity: 0.8;
    border-radius: 3%;


}
