p{
    padding-top:10%;
    
}

#wholeting{
    
 
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-top:-20px;
    margin-right:-8px;
}

#homewelcome{
    width:500px;
    height:600px;
    background-color: black;
    opacity: 0.8;
    margin-left:67%;
    margin-top:-46%;
    position: absolute;
    border-radius: 3%;

}

h3,h1{color:white}

h3{
    font-size:30px;
    color:	#A9A9A9
}
h1{
    font-size: 60px;
}
a{
    font-size: 50px;
    color:black;
    text-decoration: none;
    padding:20px 30px;
    background-color: white;
    opacity: 0.6;
    border-radius: 6%;
	
}

a:hover{
	color:white;
	background-color:grey;
	
}

img{position: relative;}