
<div id="wholeting" >
  <img src="/assets/img/IndexBack.jpg" alt="Background" height="100%" width="100%">
   <div id="homewelcome" appHoverHighlightwhite>
 <h3>Welcome to </h3>
 <h1>SP Electronic</h1>
 <h3>Already have an account?</h3>
 <h3>Please</h3>
 <br> <br>
 <a routerLink="/adminlogin" class="navibottom">Login</a>
   </div>
</div>

