p{padding-top:10%}

#wholeting{
    
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-top:-20px;
    margin-right:-8px;
}
.container{
    width:70%;
    height:82%;
    border-radius: 15px;
 
    margin-left:17%;
    margin-top:-50%;
    position: absolute;
       background-color: black;
    opacity: 0.7;
}
h1{
    color:white;
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-bottom: 12px;
}

h2{
    color:white;
    font-size: 28px;
}
#becomeread {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-top:20px;
    text-decoration: none;
   
  }
  
  #becomeread:hover {
    background-color: #45a049;
  }


  button:hover {
    background-color: #45a049;
  }


.detail{
    width:100%;

}

#wordpart{
    width:45%;
    
    margin-left:28%;
    margin-top:2%;

}
#imgpart{
    width:45%;
    float:right;
    
}



#detailimg{
    height:80% ;
    width:80%;
    margin-top:10%;
    margin-right:2%;
    opacity: 1;
}

h4{
    font-size:15px;
    display:block;
}

#hidethis{
    display:none;
}

 
button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    
  
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 29px;
    margin-top:20px;
    text-decoration: none;
    margin-right:5%;
    padding: 14px 20px !important;
  }
  a{
      text-decoration: none;
      color:white;
  
  }
  