

<div id="wholeting" >
  <img src="/assets/img/ElectronicBack.jpg" alt="Background" height="100%" width="100%">
<div class="container" appHoverHighlightgreen>
    <h1><br>Please Login Here</h1>
  <div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          
          <label for="userID" ><h2><br>Your UserID:</h2></label>
          <input type="text" placeholder="ABC" id="userID" class="form-control"
          [formControlName]="'userID'" #userID >
          <span
              *ngIf="!contactForm.get('userID').valid && contactForm.get('userID').touched"
              class="help-block">
              <span *ngIf="contactForm.get('userID').errors['required']">
                <br><h3>Please enter a valid userID !!</h3>
              </span>
              <span *ngIf="!contactForm.get('userID').errors['required'] 
              && contactForm.get('userID').errors['blankSpaces']">
              <br><h3>Empty spaces are not accepted.</h3>
              </span>
          </span>          
        </div>
        
        <div class="form-group">
          <label for="userPass" ><h2>Your Password:</h2></label>
          <input type="text" placeholder="123" id="userPass" class="form-control"
          [formControlName]="'userPass'" #userPass>
          <span
              *ngIf="!contactForm.get('userPass').valid && contactForm.get('userPass').touched"
              class="help-block">
              <span *ngIf="contactForm.get('userPass').errors['required']">
                <br><h3>Please enter a valid password !!</h3>
              </span>
              <span *ngIf="!contactForm.get('userPass').errors['required'] 
              && contactForm.get('userPass').errors['blankSpaces']">
              <br><h3>Empty spaces are not accepted.</h3>
              </span>
          </span>          
        </div>
        
        <button (click)="onLogin(userID, userPass)" [disabled]="!contactForm.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
           
    </div>
  </div>
 
</div>


</div>

<!--

<h4>
  home works!
</h4>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-left">
    <div class="form-group">
      <label for="userID">User Name:</label>
      <input type="text" class="form-control" id="userID" #username value="ABC">
    </div>
    <div class="form-group">
      <label for="userPass">Password:</label>
      <input type="userPass" class="form-control" id="userPass" #userPass value="123">
    </div>
    <div class="form-group">
      <button (click)="onLogin(userID, userPass)" type="button" 
      class="btn btn-large btn-block btn-success">Login</button>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<img 
src="https://static.pexels.com/photos/207896/pexels-photo-207896.jpeg" 
alt=""
style="max-width: 50%">
-->