input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  span.help-block {
      color: red;
  }

  
#wholeting{
  background-repeat: no-repeat;
  margin-left:-20px;
  margin-top:-20px;
  margin-right:-8px;
}

h1{
    color:green;
}
h2{
    color:white;
}

h3{
    font-size: 17px;
    
}
.container{
  width:500px;
  height:600px;
  background-color: black;
  opacity: 0.8;
  margin-left:67%;
  margin-top:-46%;
  position: absolute;
  border-radius: 3%;
}
  
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5%;
    font-size: 25px;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }